.div{
    content: '';
    position: relative;
    width: 300px;
    height: 400px;
    background-color: aquamarine;
    box-shadow: 1px 2px 5px rgb(127,127,127);
    margin-left: 10px;
    transform: translateX(50%);
}